<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>愚蠢的人类哟 ！</string>
	<string>他跑了？这不科学 ！</string>
	<string>这喵果然厉害 ！</string>
	<string>这 ？跑了？！？！</string>
	<string>您的智商已欠费...</string>
	<string>元芳你怎么看 ？</string>
</array>
</plist>
